.container{
    width: min(100%, 1440px);
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 80px 320px 320px;
    background-color: #1C5550;
    padding: 40px;
    column-gap: 40px;
    grid-template-areas: 
                           "HEADER HEADER HEADER HEADER"
                           "SECTION1 SECTION1 SECTION2 SECTION2" 
                           "CARD1 CARD2 CARD3 CARD4";

}

header{
    grid-area: HEADER;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
ul{
    display: flex;
    column-gap: 40px;
}

li a{
    width: 485px;
    height: 22px;
    top: 13px;
    left: 260px;
    gap: 0px;
    opacity: 0px;
    

    color: #FFFFFF;
}

.header_btn {
    width: 315px;
height: 32px;
padding: 8px 20px 7px 20px;
gap: 0px;
border-radius: 4px 0px 0px 0px;
opacity: 0px;
background-color: transparent;

border-radius: 10px;

}










.section1{
    grid-area: SECTION1;
}

.section2{
    grid-area: SECTION2;
    display: flex;

}


figure{
    display: flex;
    flex-direction: column;
}


.card_1{
    grid-area: CARD1;
    background-color: aqua;
}
.card_2{
    grid-area: CARD2;
    background-color: brown;
}
.card_3{
    grid-area: CARD3;
    background-color: green;
}
.card_4{
    grid-area: CARD4;
    background-color: yellow;
}

.card_img {
    width: 100%;
    height: 240px;
}

.card_title_price {
    background-color: white;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}